<% include partials/header %>

  <div class="container">
    <header class="jumbotron">
      <div class="container">
        <h1>Welcome To YelpCoffeeShop!</h1>
        <p>View our hand-picked coffeeshops from all over the world</p>
        <p>
          <a class="btn btn-primary btn-large" href="/coffeeshops/new">Add New Coffeeshops</a>
        </p>
      </div>
    </header>

    <div class="row" style="display:flex; flex-wrap: wrap;">
      <% coffeeshops.forEach(function(coffeeshop){ %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= coffeeshop.image %>">
            <div class="caption">
              <h4><%= coffeeshop.name %></h4>
            </div>
          </div>
        </div>
      <% }); %>
    </div>
  </div>

<% include partials/footer %>
