<% include partials/header %>
<h1>This is the coffeeshops page!</h1>

<a href="/coffeeshops/new">Add New Coffeeshop</a>

<% coffeeshops.forEach(function(coffeeshop){ %>
  <div>
    <h4><%= coffeeshop.name %></h4>
    <img src="<%= coffeeshop.image %>">
  </div>
<% }); %>

<% include partials/footer %>
